<main>
  <section id="dashboard">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="heading">Albums</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="action-btns">
            <div class="row">
              <div class="col-md-2">
                <a href="/add-album" class="action-btn">+ Add album</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover albums-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Category</th>
                <th>Created</th>
                <th class="actions">Actions</th>
              </tr>
            </thead>
            <tbody>
            {{#if albums}}
              {{#each albums}}
                <tr>
                  <th scope="row"></th>
                  <td>
                    <a href="/albums/{{_id}}">{{name}}</a>
                  </td>
                  <td>{{category}}</td>
                  <td>{{createdAt}}</td>
                  <td class="actions">
                    <a href="/albums/{{_id}}" style="display: none;">Edit</a>
                    <a href="/albums/{{_id}}" class="deleteAlbumBtn">Delete</a>
                  </td>
                </tr>
              {{/each}}
            {{/if}}
            </tbody>
          </table>
          <script>
            $(function () {
              const deleteAlbumBtn = $('.deleteAlbumBtn');

              deleteAlbumBtn.on('click', (e) => {
                e.preventDefault();
                console.dir(e.target.pathname);
                $.ajax({
                  method: 'DELETE',
                  url: e.target.pathname
                }).done(() => {
                    window.location.href = '/dashboard';
                  }).fail(err => {
                  console.log('ERROR: ' + JSON.stringify(err.message));
                });
              })
            });
          </script>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="heading">Messages</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover albums-table">
            <thead>
            <tr>
              <th>#</th>
              <th>From</th>
              <th>Email</th>
              <th>Message</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {{#if feedbacks}}
              {{#each feedbacks}}
                <tr>
                  <th scope="row"></th>
                  <td>{{name}}</td>
                  <td>{{email}}</td>
                  <td>{{message}}</td>
                  <td>{{createdAt}}</td>
                </tr>
              {{/each}}
            {{/if}}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </section>
</main>
