<main>
  <section id="dashboard">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="heading">Dashboard</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="action-btns">
            <div class="row">
              <div class="col-md-2">
                <a href="/add-album" class="action-btn">+ Add album</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover albums-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Created</th>
                <th class="actions">Actions</th>
              </tr>
            </thead>
            <tbody>
            {{#if albums}}
              {{#each albums}}
                <tr>
                  <th scope="row">1</th>
                  <td>
                    <a href="/albums/{{_id}}">{{name}}</a>
                  </td>
                  <td>{{createdAt}}</td>
                  <td class="actions">
                    <a href="/edit-album/{{_id}}">Edit</a>
                    <a href="/delete-album/{{_id}}">Delete</a>
                  </td>
                </tr>
              {{/each}}
            {{/if}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
