<main>
  <section id="hero" class="hero-section">
    <div class="hero-text-wrap">
      <p class="hero-secondary text-center text-uppercase text-accent animated fadeInDown">photography</p>
      <h1 class="hero-text text-center text-capitalize animated fadeInDown">My images can touch your feelings</h1>
    </div>
  </section>

  <section id="portfolio" class="portfolio-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="filters-list">
            <li class="filter-item active">
              <button data-filter="*" class="filter-link">All</button>
            </li>
            <li class="filter-item">
              <button data-filter=".wedding" class="filter-link">Weddings</button>
            </li>
            <li class="filter-item">
              <button data-filter=".holiday" class="filter-link">Holidays</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="albums-list clearfix">
            {{#if albums}}
              {{#each albums}}
                <li class="album-item {{category}}">
                  <a href="albums/{{_id}}" class="album-link" style="background-image: url('/uploads/{{cover}}');">{{category}}
                    <div class="album-info animated ">
                      <p>{{name}}</p>
                    </div>
                  </a>
                </li>
              {{/each}}
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
